.BlockClear {
	background-color: transparent;
	border: 1px solid transparent;
}

.BlockEnd {
	background-color: #FF3300;
	border: 1px solid #FF3300;
}

.BlockStart {
	background-color: #00FF00;
	border: 1px solid #00FF00;
}

/* Put after  to override the background-color property. */
.BlockMove {
	background-color: #66CCFF;
	background-image: url('img/avatar.png');
    background-size: 76px 76px;
}

.BlockWall {
	background-color: #545454;
	border: 1px solid #545454;
	/*z-index:201;*/
}

/* Put after  to override the background-color property. */
.BlockEdition {
	border-color: #000000;
}

.MapContainer {
    position:relative;
    top:0;
    left:0;
    height:auto;
    width:auto;
    /* overflow:auto; */
}

.MapContainer .Cell {
	position:relative;
	top:0;
	left:0;
	margin:0;
	height:30px;
	width:30px;
	/* float: left; */
}

.MapContainer .MapSubContainer {
	position:relative;
	float:left;
	top:0;
	left:0;
	height: 100%;
	width: auto;
	display:table;
}

.MapContainer .MapSubContainer .GridContainer {
	position:relative;
	float:left;
	top:0;
	left:0;
	height:auto;
	width:auto;
	display:table;
}

.MapContainer .MapSubContainer .GridContainer .Row {
	position:relative;
	top:0;
	left:0;
	height:auto;
	width:auto;
	display:table-row;
}


.MapContainer .MapSubContainer .GridContainer .Row .Block {
    font-size:10px;
    text-align:center;
    /* border-left: none; */
    /* border-top: none; */
    /* border-right-width: 1px; */
    /* border-right-style: solid; */
    /* border-bottom-width: 1px; */
    /* border-bottom-style: solid; */
    /* display: table-cell; */
    border-left: 1px solid;
    border-top: 1px solid;
}

.GridContainer .Row .Block:last-of-type {
    border-right:1px solid;
}

.GridContainer .Row:last-of-type .Block {
    border-bottom:1px solid;
}

/*.MapContainer .MapSubContainer .GridContainer .Row .BlockLast {
	border-right:none;
}

.MapContainer .MapSubContainer .GridContainer .RowLast {
	position:relative;
	top:0;
	left:0;
	height:auto;
	width:auto;
	display:table-row;
}

.MapContainer .MapSubContainer .GridContainer .RowLast .Block {
    font-size:10px;
    line-height:14px;*/
	/*border-right:1px solid #CECECE;*/
	/*border-left:none;
	border-top:none;
	border-bottom:none;
	border-right-width:1px;
	border-right-style:solid;
	display:table-cell;
}

.MapContainer .MapSubContainer .GridContainer .RowLast .BlockLast {
	border-right:none;
}*/

.MapContainer .BarLabels {
	position:relative;
	top:0;
	left:0;
	height:auto;
	width:auto;
	background-color:#CECECE;
	border:1px solid #000000;
	display: none !important;
}

.MapContainer .BarLabels .Label {
    color:#000000;
    font-family:Arial;
    font-size:8px;
    font-weight:normal;
    text-align:center;
}

.MapContainer .LabelHorizontal {
    float:left;
    border-right:1px solid #000000;
    text-align:center;
}

.MapContainer .LabelVertical {
	margin-top:0;
    border-bottom:1px solid #000000;
}

/* Put after LabelHorizontal and LabelVertical to override the border property */
.MapContainer .BarLabels .LabelLast {
	border:none;
}

.MapContainer .BarLabelsHorizontal {
	display:inline-block;
}

.MapContainer .BarLabelsVertical {
	float:left;
	border-bottom:none;
	border-top:none;
}


.Block {
    float: left;
    /*border: 1px solid black;*/
    box-sizing: content-box;
}

.Row {
    width: 100%;
}

/*.RowLast {
    width: 100%;
}*/