body {
	position:relative;
    top:0;
    left:0;
    margin:0;
    height:auto;
    width:auto;
}

#controler {
    position:relative; 
    top:0; 
    left:0; 
    margin:0;
    height:100%;
    width:100%;
    background-color: transparent;
}
        
#controlerContainer {
    position:relative; 
    top:0;
    left:0;
    float:left;
    height:100%;
    width:100%;
    border:1px solid #000000;
    display:inline-block;
    overflow:auto;
}

#mapContainer {
    position:relative;
    float:left;
    top:0;
    left:0;
    height:100%;
    width:79%;
    overflow:auto;
}
        
.mbContainer {
    position:relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    top:0;
    left:0;
    /*margin:5%;*/
    height:auto;
    width:auto;
}